.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.item-card {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.item-area {
  max-height: 600px;
  overflow-y: scroll;
}

.item.highlight {
  background-color: #ffffb8;
  border: 2px solid #fff566;
}

.item {
  padding: 10px;
  font-size: 20px;
  margin: 5px 2px;
  background-color: #e6fffb;
  border: #b5f5ec;
}