.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.item-card {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.item-area {
  max-height: 600px;
  overflow-y: scroll;
}

.highlight {
  background-color: yellow;
}